.contacto{
    display: flex;
    justify-content: center;
    margin:auto;
    margin-top:4%
}
.login-form-1{
    padding: 9%;
    background:#dcd5d7f0;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
  }